$background-color_login: #db6767;
$background-navbar: #db6767;
$color_1: #000;
$color_2: #0f0f0f;
$color_3: #fff;
$color_4: #757575;
$background-color_1: #fff;
$background-color_2: #eeeeee;
$color_error: #000;
$color-main: #db6767;
